




<h1>List of To Do's</h1>

<% @todos.each do |todo| %>

    <div>
      Name: <%= todo[:name] %> <br>
      Description: <%= todo[:description] %>
    </div>
<a href = "/todos/<%= todo.id %>">Show</a>
  <% end %>













<h1>Todolist#index</h1>
<p>Find me in app/views/todolist/index.html.erb</p>
