




<h1>List of To Do's</h1>

<% @todo.each do |plane| %>

    <div>
      Name: <%= plane[:name] %> <br>
      Description: <%= plane[:description] %>
    </div>

  <% end %>












<h1>Todolist#index</h1>
<p>Find me in app/views/todolist/index.html.erb</p>
